@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
html,
body {
    padding: 0;
    margin: 0;
}
body {
    font: 16px 'Roboto', sans-serif;
    background-color: black;
    color: lime;
    text-align: center;
}
h1 {
    margin-bottom: 5px;
}
input, button {
    font: bold 12pt Verdana;
    text-align: center;
    background-color: black;
    border: 1px solid #505050;
    color: #B0B0B0;
    padding: 10px;
}
button {
    cursor: pointer;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
input:hover, button:hover {
    background-color: #212121;
}
[data-href] {
    cursor: pointer;
}
.content {
    overflow-x: hidden;
}
.lookup-form {
    margin-bottom: 20px;
    margin-top: 20px;
}
.back {
    margin-top: 0;
}
.infobox-container {
    display: inline-block;
    margin: 0 auto;
}
.infobox {
    display: inline-block;
    height: 140px;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}
.infobox--compare {
    width: auto;
}
.infobox--compare ~ .infobox--compare {
    margin-left: 40px;
}
.infobox-text {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}
.infobox-title {
    margin: 10px 0 0 0;
}
.infobox-line {
    margin-top: 0.5em;
}
.infobox-avatar {
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.infobox-avatar--head {
    float: left;
}
.infobox-avatar--body {
    float: right;
    width: 60px;
    /* Same total width (100px) as .infobox-avatar--head to center .infobox-text */
    margin-left: 40px;
}
a {
    color: #00FF7F;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border: 1px solid #505050;
}
th,
td {
    background-color: black;
    height: 21px;
    padding: 4px 6px;
    text-align: center;
}
td {
    white-space: nowrap;
}
tr:nth-child(odd) td {
    background-color: #2e2e2e;
}
tr:hover td,
tr.selected td {
    background-color: #707070;
}
th {
    font-weight: bold;
    color: #B0B0B0;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
th>a {
    color: #B0B0B0;
    text-decoration: underline;
}
.activity {
    border-bottom: 1px solid #505050;
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
.activity-title {
    font-size: 20px;
}
.activity-time {
    font-size: 14px;
}
.activity-description {
}
.border-top {
    border-top: 1px solid #505050;
}
.border-left {
    border-left: 1px solid #505050;
}
.error {
    color: red;
}
.info {
    color: green;
}
.nolifer-table-container {
    display: inline-block;
    vertical-align: top;
}
.nolifer-table-container + .nolifer-table-container {
    margin-left: 30px;
}
.index-infotable {
    margin: 50px 50px 0 0;
    display: inline-block;
    vertical-align: top;
}
.tracked-players {
    margin-bottom: 1em;
}
.tracked-player {
    color: lime;
    padding: 6px 12px;
    margin: 0;
    display: inline-block;
    border: 1px solid #505050;
}
.tracked-player--inactive {
    color: red;
}
.horizontal-scroller {
    white-space: nowrap;
    overflow-x: auto;
    margin-bottom: 1rem;
}
th {
    white-space: nowrap;
}
.dt-orderable-asc, dt-orderable-desc {
    cursor: pointer;
}
.dt-ordering-asc::after {
    content: " ▲";
}
.dt-ordering-desc::after {
    content: " ▼";
}

table {
    margin-bottom: 1em;
}

.sticky-first-column {
    border-left-width: 0;
}
.sticky-first-column td:first-child,
.sticky-first-column th:first-child {
    position: absolute;
    width: 160px;
    border-right: 1px solid #505050;
    border-left: 1px solid #505050;
}
.sticky-first-column td:nth-child(2),
.sticky-first-column th:nth-child(2) {
    padding-left: 179px;
}

@media (max-width: 360px) {
    .lookup-form {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .infobox-avatar {
        display: none;
    }
}
