<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}{% if block("title") %} | {% endif %}Viller's RuneScape lookup tools</title>
        <link rel="stylesheet" href="{{ asset("style.css") }}" />
    </head>

    <body>
        {% if error is defined and error is not empty %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if notice is defined and notice is not empty %}
            <p class="notice">{{ notice }}</p>
        {% endif %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
            <script>
                // Set player1 in compare form after leaving lookup form to keep both in sync
                $(".lookup-form [name='player1']").blur(function() {
                    $(".compare-form [name='player1']").val($(this).val());
                });

                // Make elements with "data-href" attribute act as anchors
                $("[data-href]").click(function() {
                    window.location.href = $(this).data("href");
                });

                // Clicking on tables with "row-select" class causes toggling of a "selected" class
                $("table.row-select tr").click(function(){
                    // Clear selected for this table
                    $(this).closest("table").find("tr.selected").removeClass("selected");
                    $(this).addClass("selected");
                });

                $(".dataTable").dataTable({
                    paging: false,
                    searching: false,
                    info: false,
                    sorting: [],
                    drawCallback: function() {
                        $(".infobox-container").css("width", $(this).css("width"));
                    }
                });
            </script>
        {% endblock %}
    </body>
</html>
