<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}{% if block('title') %} - {% endif %}Viller's RuneScape Lookup</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        <link rel="icon" type="image/png" href="{{ asset('icon.png') }}" />
        <link rel="apple-touch-icon" type="image/png" href="{{ asset('icon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {# https://github.com/tofsjonas/sortable/releases #}
            <script src="{{ asset('sortable.min.js?v=4.0.1') }}" async defer></script>
            <script>
                // Clicking on tables with "row-select" class causes toggling of a "selected" class
                document.querySelectorAll('table.row-select tbody tr').forEach((element) => {
                    element.addEventListener('click', () => {
                        const wasSelected = element.classList.contains('selected');
                        // Clear selected (globally).
                        document.querySelectorAll('tr.selected').forEach((selectedElement) =>
                            selectedElement.classList.remove('selected')
                        );

                        element.classList.toggle('selected', !wasSelected);
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
