<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}{% if block('title') %} | {% endif %}Viller's RuneScape lookup tools</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% if error is defined and error is not empty %}
            <p class="error">{{ error }}</p>
        {% endif %}
        {% if notice is defined and notice is not empty %}
            <p class="notice">{{ notice }}</p>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
            <script>
                // Make elements with "data-href" attribute act as anchors
                document.querySelectorAll('[data-href]').forEach((element) => {
                    element.addEventListener('click', (event) => {
                        event.stopImmediatePropagation();
                        window.location.href = element.dataset.href;
                    });
                });

                // Clicking on tables with "row-select" class causes toggling of a "selected" class
                document.querySelectorAll('table.row-select tr').forEach((element) => {
                    element.addEventListener('click', () => {
                        const wasSelected = element.classList.contains('selected');
                        // Clear selected for this table
                        element.closest('table').querySelector('tr.selected')?.classList.remove('selected');
                        element.classList.toggle('selected', !wasSelected);
                    });
                });

                document.querySelectorAll('.datatable').forEach((element) => {
                    new DataTable(element, {
                        paging: false,
                        searching: false,
                        info: false,
                        sorting: [],
                        autoWidth: false,
                        drawCallback: function () {
                            if (element.classList.contains('compare-table')) {
                                document.querySelector('.infobox-container').style.width = element.style.width;
                            }
                        },
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
